# Byte-compiled / caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/
.Python

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Testing / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Type checkers / caches
.mypy_cache/
.pyre/
.pytype/

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
